[Unit]
Description=InsightStore FastAPI microservice
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/gcr/populi.Wk/InsightCircle/insight_store
ExecStart=/home/gcr/populi.Wk/InsightCircle/venv/bin/uvicorn main:app --host 0.0.0.0 --port 5203
Restart=on-failure
RestartSec=5
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
